<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Browser</title>
</head>
<body ng-app="frontend">
    <div ng-controller="MainController as ctrl">
        <div id="toolbar" >
            <div id="current-folder">{{ ctrl.filePath }}</div>
            <div id="search">
                <input type="search" id="search-input" ng-model="ctrl.query"/>
                <button ng-click="ctrl.searchFiles()">Search</button>    
            </div>
        </div>
        <div id="main-area">
            <div class="item" ng-repeat="fileInfo in ctrl.filesInfo">
                <div class="icon" ng-class="fileInfo.type" ng-dblclick="ctrl.changeFolder(fileInfo)"></div>
                <div class="filename">{{ fileInfo.fileName }}</div>
            </div>
        </div>
    </div>
    <script src="frontend.js"></script>
</body>
</html>